#bg1{
	width: 1264px;
	height: 400px;
	background-color: black;
	opacity: 0.6;
	position: relative;
	top: 100px;
}
#button{
	float: left;
	position: relative;
	left: 540px;
	top: -200px;
}
#but1{
	width: 200px;
	height: 50px;
	font-family: "华文琥珀";
	font-size: 20px;
}
.but2{
	width: 150px;
	height: 40px;
	font-size: 17px;
	margin: 20px;
	position: relative;
	left: -190px;
	top: 70px;
	display: none;
}
.but2 a{
	color: black;
	text-decoration: none;
}